/* navbar */
.navbar{
  transition: top 0.3s;
  background-color: #fff;
  font-family: 'Open Sans Condensed', sans-serif;
}

.navbar li{
  display: inline-block;
  padding: 5px;
  letter-spacing: .7px;
  margin-right: 10px;
  cursor: cell;
}

a {
  color:black;
  text-decoration: none;
  cursor: cell;
}

a.title{
  display: inline-block;
  letter-spacing: .7px;
  cursor: cell;
}

/* navbar dropdown */
.dropdown {
  /* float: right;
  overflow: hidden; */
  position: relative;
  display: inline-block;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: black;
  padding: 5px 10px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  cursor: cell;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  color: #cc9900;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  float:none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  color: #cc9900;
}

.dropdown:hover .dropdown-content {
  display:block;
}

/* universal body styles */
body{
  background: #fff
}

p {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px;
}

h1 {
  margin-bottom: 20px;
  font-family: 'Open Sans Condensed', sans-serif;
}

/* intro page */
#main-landing{
  padding: 50px;
}

#landing-image {
  float:left;
  width: auto;
  display: block;
  margin: 10px;
}

#figure {
  position: relative;
}

/* sidebar */
.col-md-5{
  padding: 50px;
}

.col-6{
  flex: 50%;
  padding: 0 4px;
}

#image {
  vertical-align: middle;
  width: 200px;
  margin-top: 8px;
  padding: 0;
}

/* img highlight when active */
a.active img {
  border: solid 1px #cc9900;
}

/* Home/Landing page */
#home-h1{
  text-align: left;
  padding: 0;
  margin: 0;
}

#home-p{
  text-align: left;
  padding: 0;
  margin: 0;
}

#home-image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#home-button {
  text-align: left;
  background-color: #fff;
  font-family: 'Open Sans Condensed', sans-serif;
  font-style: italic;
}

.home-button{
  cursor: help;
}

#home-button a:hover {
  color: #cc9900;
}

/* comparisons page */
.image-comp{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}

h4{
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
}

/* plots */
#plots-image{
  position: relative;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.table {
  font-family: 'Open Sans Condensed', sans-serif;
}
