
.navbar{
  transition: top 0.3s;
  background-color: #fff;
  font-family: 'Open Sans Condensed', sans-serif;
}

.navbar li{
  display: inline-block;
  padding: 5px;
  letter-spacing: .7px;
  margin-right: 10px;
  cursor: cell;
}

a {
  color:black;
  text-decoration: none;
  cursor: cell;
}

a.title{
  display: inline-block;
  letter-spacing: .7px;
  cursor: cell;
}


body{
  background: #fff
}

p {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px;
}

h1 {
  padding: 10px;
  margin-bottom: 20px;
  font-family: 'Open Sans Condensed', sans-serif;
}

#main-landing{
  padding: 50px;
}

#landing-image {
  float:left;
  width: 450px;
  margin: 10px;
}

#figure {
  position: relative;
}

.col-md-5{
  padding: 50px;
}

.columns{
  flex: 50%;
  padding: 0 4px;
}

#image {
  margin-top: 8px;
  vertical-align: middle;
  float: left;
  width: 200px;
}
